/* #name-and-phone input {
    width: 18vw;
} */


.formtext {
    margin: 3px auto;
    padding: 5px;
    border-radius: 5px;
}
form {
    display: grid;
    place-items: center;
    width: 60%;
    margin: auto;
}
@media screen and (max-width: 820px) {
    form {
        width: 90%;
    }
}
    

.formdiv {
    margin: 4px;
    width: 80%;
}
#firstnametext, #lastnametext {
    width: 100%;
}
textarea{

    background-color: white;
    color: black;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
}
input{
    width: 100%;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
textarea {
    width: 90%
}

#sendbutton {
    background-color: #0ea5e9;
    border-radius: 10px;
    width: 30%;
    transition: 0.2s;
}
#sendbutton:hover {
    background-color: #387c9c;
}