footer {
    display: flex;
    justify-content: space-between;
    padding: 4px;
    height: 7vh;
    background-color: aqua;
}
.footer-links {
    display: flex;
}

.footer-links img {
    width: 50px;
}
.footer-links img:hover {
    /* shadow: 3px 3px 5px 2px rgb(0 0 0/40%); */
    filter: drop-shadow(gray 5px 5px 10px);
    scale: 120%;
}
