@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Sevillana&display=swap');

header {
    padding: 1vh 2vw;
    background-color: #CDCDCD;
    
}
#main {
    font-family: 'Sevillana', cursive;
}

.headertext {
    color: black;
    font-size: 30px;
    padding: 5px;
}
.headertext:hover {
    background-color: white;
    color: blue;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

a {
    margin-left: 5px;
    margin-right: 5px;
    /* font-size: 2rem; */
    color: black;
}
ul a {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 2rem;
    color: black;
}
#desktop {
    display: flex; 
    align-items: center; 
}
#mobiledropdown {
    display: none;
    margin-top: auto;
    margin-bottom: auto;
}
@media screen and (max-width: 970px) {
    #desktop {
        display: none;
    }
    #mobiledropdown {
        display: block;
    }
}
@media screen and (min-width: 970px) {
    #mobiledropdown {
        display: none;
    }
    #desktop {
        display: flex;
    }
}