header {
    padding: 1vh 2vw;
    background-color: #CDCDCD;
    display: flex;
    justify-content: space-between;
}

.headertext {
    color: black;
    font-size: 30px;
}

a {
    margin-left: 5px;
    margin-right: 5px;
}