header {
    padding: 1vh 2vw;
    background-color: #CDCDCD;
    display: flex;
    justify-content: space-between;
}

.headertext {
    color: black;
    font-size: 30px;
}
.headertext:hover {
    background-color: gray;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}

a {
    margin-left: 5px;
    margin-right: 5px;
}