.section {
    margin:  20px auto;
    border-radius: 10px;
    width: 100%;
}
.cardlist {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
}
h1, h4 {
    text-align: center;
}
#calendar {
    border: 1px solid black; 
    border-radius: 5px; 
    padding: 10px; 
    width: 80%; 
    height:600px;
}
#lessonImage {
    display: block; 
    height: 400px; 
    margin: 4px 50px; 
    border-radius: 50px 
}
#me {
    display: block;
    height: 400px; 
    margin: 4px 50px; 
    border-radius: 50px; 
}
#aboutWrapper {
    display: flex; 
    justify-content: space-between;
}
#aboutSection {
    width: 70%;
    display: flex;
    line-height: 1.6;
    flex-direction: column;
}
#lessonDiv {
    display: flex;
    margin-bottom: 10px;
}
@media screen and (max-width: 968px) {
    #aboutSection {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
   
    #aboutWrapper {
        display: inline;
    }
    #me {
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 768px) {
    #lessonImage {
        margin-left: auto;
        margin-right: auto;
        height: 300px;
    }
    #lessonDiv {
        flex-wrap: wrap-reverse;
    }
    #calendar {
        width: 100%;
    }
}
