
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  
} */
 * { /* Firefox automatically adds vertical margins, does more harm than good */
  margin: 0;
  padding: 0;
 }

.background {
  width: 100vw;
  height: 500px;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url('../public/placeholder.png'); 
  background-size: cover;
}