
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  
} */
 * { /* Firefox automatically adds vertical margins, does more harm than good */
  margin: 0;
  padding: 0;
 }

.background {
  width: 100vw;
  height: 500px;
  position: relative;
  top: 0;
  left: 0;
  background-image: url('../public/placeholder.png'); 
  background-size: cover;
  background-position: 0 -30px;
  background-repeat: no-repeat;
  align-items: center;
}
#content {
  min-height: 100vh;
  font-size: 100px;
}
.about {
  width: 100vw;
  height: 800px;
}
#button {
  position: absolute;
  bottom: 50px;
  margin-left: 25%;
  margin-right: 25%;
  left: 0;
  right: 0;
}
#sections {
  padding: 4px;
}